* {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "brownbear";
  src: url("../css/font/brownbear/Brownbear.otf");
}
.brownbear {
  font-family: brownbear;
}

#header {
  padding: 15px 0;
  /*position: fixed;*/
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;
  background: #fff;
  box-shadow: 1px 1px 8px 1px rgba(227, 27, 27, 0.1);
  transition: all 0.5s linear;
}

#header .navbar {
  padding: 0;
  justify-content: space-between;
}

#header .navbar-brand {
  color: #e77225;
  text-transform: uppercase;
  font-weight: 600;
  height: auto;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 22px;
  line-height: 1.6;
}

#header .navbar-collapse {
  flex-grow: 0;
}

#header .navbar-collapse .navbar-nav {
  font-size: 14px;
  line-height: 20px;
}

#header .navbar-collapse a:last-child {
  padding-right: 20px; /* Adjust padding as needed */
}

#header .navbar-collapse a {
  color: #0d0404;
  position: relative;
}

#header .navbar-collapse a:hover,
#header .navbar-collapse a.active {
  background: none;
  color: #e77225;
}

#header .navbar-collapse a:hover:before,
#header .navbar-collapse a.active:before {
  right: 7px;
  left: 8px;
  opacity: 1;
}

#header .navbar-collapse a:before {
  content: "";
  background: #e77225;
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: -20px;
  right: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  opacity: 0;
}

.navbar-bg-color {
  background-color: white;
}

.image-style {
  width: 7rem;
  height: 4rem;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.stays-h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.stays-add-button {
  text-align: right;
  /* padding-right: 1rem; */
  padding-bottom: 1rem;
}

.custom-btn {
  background-color: #051e3c;
  color: #fff;
  border-color: #051e3c;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #e77225;
  color: #fff;
  border-color: #e77225;
}

.custom-btn-reverse {
  background-color: #e77225;
  color: #fff;
  border-color: #e77225;
  transition: background-color 0.3s ease;
}

.custom-btn-reverse:hover {
  background-color: #051e3c;
  color: #fff;
  border-color: #051e3c;
}

.custom-icon {
  color: #051e3c;
  transition: background-color 0.3s ease;
}

.custom-icon:hover {
  color: #e77225;
}

.heading-color {
  color: #e77225;
}

.checkbox-border {
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 5px;
}

body,
html {
  height: 100%;
}
.bg {
  background-image: url("../img/login/login.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.login-card-align {
  z-index: 10;
  content: "";
  position: absolute;
  top: 0;
  left: 7rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo-style {
  margin-left: 6.5rem;
  margin-top: -4rem;
  width: 5rem;
  height: 5rem;
}

.forgot-password-logo-style {
  margin-left: 7.5rem;
  margin-top: -4rem;
  width: 5rem;
  height: 5rem;
}

.dashboard-custom-card {
  transition: box-shadow 0.3s ease;
}

.dashboard-custom-card:hover {
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.add-stay-group-border {
  border: 1.5px solid #051e3c;
  border-radius: 8px;
  padding: 20px;
}

.required-field-meassage {
  font-size: 12px;
  color: red;
}

.categories-styling {
  background-color: #ffffff;
  border-color: #cecece;
  color: #1a1a1a;
  text-align: left;
}

.categories-styling:hover {
  background-color: #ffffff;
  border-color: #cecece;
  color: #1a1a1a;
}
.modal-90w {
  max-width: 90%;
}
.stay-id-details {
  border: 1px solid #777676;
  border-radius: 5px;
  padding: 5px;
  width: 20rem;
}

.stay-id-decor {
  text-decoration: underline;
  font-weight: bold;
}

.view-details-heading-style {
  font-size: 2rem;
  margin-bottom: -1rem;
}

.view-details-image-style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-stays-categories-display {
  color: #e77225;
  font-weight: bold;
}

.session-expired {
  text-align: center;
  color: red;
}

.text-capitalize {
  text-transform: capitalize;
}

.stay-edit-button {
  background-color: #051e3c;
  color: #fff;
  border-color: #051e3c;
  transition: background-color 0.3s ease;
}

.stay-edit-button:hover {
  background-color: #e77225;
  color: #fff;
  border-color: #e77225;
}

.image-trash-button {
  background-color: #e77225;
  color: #fff;
  border-color: #e77225;
  transition: background-color 0.3s ease;
}

.image-trash-button:hover {
  background-color: #051e3c;
  color: #fff;
  border-color: #051e3c;
}

.stay-trash-button {
  color: #051e3c;
  border-color: #051e3c;
  transition: color 0.3s ease;
}

.stay-trash-button:hover {
  color: #e77225;
}

.dashboard-location {
  width: 15rem;
  height: 20rem;
}

.dashboard-location-stays {
  /* background-color: #e77225;
  margin-left: 8rem;
  margin-top: -3rem; */
  position: absolute;
  bottom: 20px;
  right: -2px;
  display: inline-block;
  background: #e77225;
  padding: 4px 5px 4px 15px;
  border-radius: 20px 0 0 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.dashboard-location-card {
  transition: box-shadow 0.3s ease;
  margin: 20px;
  width: 15rem;
  height: 20rem;
}

.dashboard-location-image {
  width: 15rem;
  height: 20rem;
}

.dashboard-location-card:hover {
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.dashboard-location-name {
  color: white;
}

.dashboard-location-padding {
  padding-top: 2rem;
  margin-left: -4rem;
}

.edit-stays-accomodation-type {
  color: rgb(5, 30, 60);
  margin-right: 1rem;
  margin-top: 4px;
}

.testimonial-font-size {
  font-size: 13px;
}

.set-as-default-style {
  position: absolute;
  right: 77px;
}

.edit-image-trash-style {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px;
}

.add-image-trash-style {
  position: absolute;
  top: 9px;
  right: 9px;
  padding: 10px;
}

.add-edit-image-size {
  width: 18rem;
  height: 17rem;
  padding: 8px;
}

.cp-table-styling {
  padding-right: 8rem;
  margin-left: -1rem;
  margin-top: -1rem;
}
@media only screen and (max-width: 768px) {
  .login-card-align {
    z-index: 10;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
